[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pre-commit = "*"
mypy = "*"
black = "*"
flake8 = "*"

[packages]
opencv-python = "*"
matplotlib = "*"
tqdm = "*"
sklearn = "*"
pandas = "*"
notebook = "*"

[requires]
python_version = "3.7"
